#toppage{
	background-image: url("Black.jpg");

	height: 850px;
	width: 100%;
	top:-100;
	left:0;
	background-attachment: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


.topclick {

	font:Lucida ;
	font-size:100px;
	font-color:white;


	left: 0;
	line-height: 200px;
	margin: auto;
	margin-top: -100px;
	
	top: 50%;
	width: 100%;
	text-align:center;


	overflow: hidden;
	position: absolute;
	background-color: transparent;
	height:80;
}

.topclick a {
	float: middle;
	display: block;
	color: #f2f2f2;
	padding:0px 0px;;
	text-decoration: none;
	font-size: 80px;
}

.topclick a:hover {
	background-color: #FFF;
	color: black;

}

.topclick a.active {
	background-color: transparent;
	color: white;

	


}
#headerpic{
	background-image: url("geraldleepage2.png");
	background-position: center center;
	background-size: auto auto;
	height: 800px;
	width: 100%;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.header img{
	opacity: 1;

}


/*h1{
	background-color:white;
	font-family:Comic,sans-serif;
	font-weight: 400
	line-height:50em;
	color: Crimson;
	text-align:center;
	font-size: 50px;
	}*/
	body{
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		border:100%;
		font-family:arial,sans-serif;
		background-color: #FFF;
		

	}
	p{
		min-width: 200px;
	}
	#parallax1 { 
		/* The image used */
		background-image: url("DSC_0281.jpg");

		/* Set a specific height */
		

		

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}
	#parallax2{
		background-image: url("SAM_1707.JPG");

		/* Set a specific height */
		height: 850px; 
		opacity: ;
		

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 999;
	}
	.black{
		font-size:23px;
		color:black;
		opacity: 1;
	}


	.topnav {
		overflow: hidden;
		position: fixed;
		top:0; 
		right:0;
		float:right;

		background-color: transparent;
		height:90;
	}

	.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 10px 10px;
		text-decoration: none;
		font-size: 17px;
	}

	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}

	.topnav a.active {
		background-color: transparent;
		color: white;
	}
	.contact {
		text-align: center;
		padding: 100px
		left: 0;
		line-height: 25px;
		margin: auto;
		margin-top: -10px;

	}
	.background_white{
		box-sizing: border-box;
		background-color: rgba(255,255,255,0.75);



	}
	div{
		display:block;
		box-sizing: border-box;
	}
	.about{
		padding-bottom:40px;
		padding-left: 200px;
		padding-right: 200px;
		padding-top:40px;
		margin:15px;
		width: 970px;
	}
	.experienceboxes{
		padding-bottom:30px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top:4%;
		
		margin:25px;
		max-width: 380px;
		height: 350px;

		box-shadow: 0px 30px 40px rgba(0,0,0,.1);
		border-radius: 12px;

	}
	.longlogo{
		
		padding-top:7.5%;
	}

	.experienceboxesin{
		padding-top: 15px;
		padding-left: 25px;
		padding-right: 25px;

		max-width: 380px;
		height: 350px;

		box-shadow: 0px 30px 40px rgba(0,0,0,.1);
		border-radius: 12px;
		border:1px solid black;
	}

	.experiencecontainer{
		padding-bottom:100px;

	}
	.skillscontainer{
		max-width: 1000px;
		height: 200px;
		padding: 50px 100px;
		margin: 50px 60px;
		
		left:20%;
	}
	.skillsboxes{
		padding-top: 10%;

		padding-bottom: 10%;
		padding-right: 10%;
		padding-left: 10%;

		margin:5px;
		visibility: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: white;

		box-shadow: 0px 30px 40px rgba(0,0,0,.1);
		border-radius: 12px;
		border:1px solid black;
		opacity: 0;
		padding-top:8%;
	}
	.skillwrap{
		padding-top: 5px;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 5px;
		margin:5px;
		max-width:95px;




		box-shadow: 0px 30px 40px rgba(0,0,0,.1);
		border-radius: 12px;
		

	}
	.skillwrap:hover .skillwrap{
		opacity: 0;
	}
	.skillwrap:hover .skillsboxes{
		visibility: visible;
		opacity: 1;
	}
	.container { 
		max-width: 1280px; 
		padding: 40px 180px; 
	}
	.flex{ 
		padding: 40px 40px;
		align-content: center;
	}
	.row{
		margin-right: -15px;
		margin-left: -15px;
		margin-right: auto;
		margin-left: auto;
		display:block;
	}
	


	.about_c{
		text-align: center;
		align-content: center;

	}


	.image{
		border-radius: 50%;
		align-content: center;
		box-sizing: border-box;
		clear:both;

	}
	.social {
		margin: 0;
		padding: 0;
	}

	.social ul {
		margin: 0;
		padding: 5px;
	}

	.social ul li {
		margin: 5px;
		list-style: none outside none;
		display: inline-block;
	}

	.social i {
		width: 40px;
		height: 40px;
		color: #FFF;
		background-color: #909AA0;
		font-size: 22px;
		text-align:center;
		padding-top: 12px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
		-o-transition: all ease 0.3s;
		-ms-transition: all ease 0.3s;
	}


	/* relevant styles */
	.img__wrap {

		padding-bottom:10px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top:1 0px;
	}

	.img__description {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(29, 106, 154, 0.72);
		color: #fff;
		visibility: hidden;
		opacity: 0;


		/* transition effect. not necessary */
		transition: opacity .2s, visibility .2s;
	}

	.img__wrap:hover .img__description {
		visibility: visible;
		opacity: 1;
	}
	.img_wrap:hover .img_wrap{
		opacity: 0;
	}


	.social i:hover {
		color: #FFF;
		text-decoration: none;
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
		-o-transition: all ease 0.3s;
		-ms-transition: all ease 0.3s;
	}

	.social .fa-linkedin:hover {
		background: #0094BC;
	}
	.social .fa-facebook:hover {
		background: #4060A5;
	}

	.social .fa-google:hover {
		background: #e64522;
	}

	.about_r{

		text-align: right;
	}

	.about_l{
		text-align: left;
	}
	.bluefont{
		color: rgb(35,100,200);
		font-family: Open Sans, sans-serif;
	}

	.largerfont{
		color:rgb(50,50,250);
		font-family: Open Sans, sans-serif;
		font-size:54px;
		font-weight: 300;
	}

	.midfont{
		color:rgb(50,50,250);
		font-family: Open Sans, sans-serif;
		font-size:34px;
		font-weight: 300;
	}
	.fadedfont{
		color:#727878
		font-family: Open Sans, sans-serif;
		font-size:20px;
		font-weight: 300;




	}
	.about_c p{
		font-family: Open Sans, sans-serif;
		color:#434242;

	}

	.squeeze{
		width: 33.33%;
	}
	#blackheader
	{ background-color: black; height: 1px; border: 0; 
		width:66.66%;}







/*



	.about{
		font-family: Georgia
		background-color:beige;
		text-align: center;
		padding: 10px 10px;
		margin-left: 25%;
		margin-right: 25%;
		width: 100%;
		height: 100%;
		margin:0px;
		display:block;
		overflow:scroll;

		border:10px solid #000;



	}
	.about_l{
		/*margin-top: 0em;
		margin-bottom: 0em;
		line-height: 1em;
		float:left;
		clear:left;
		text-align: left;
		min-width: 100px;
		max-width: 400px;
		height:100px;

		box-sizing: border-box;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		display:block;
		line-height: 1em;
		float:left;
		clear:right;

		border:10px solid #000;
	}

	


	}
	.about_r{
		
		float:right;

		text-align: center;
		min-width: 100px;
		max-width: 400px;
		height:100px;
		margin-right: 100px;

			text-align: left;
		min-width: 100px;
		max-width: 400px;
		height:100px;

		box-sizing: border-box;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		display:block;
		line-height: 1em;



		

		min-width: 100px;
		max-width: 400px;
		line-height: 1em;
		float:right;
		clear:left;
		margin: 60px auto;
		padding: 10px 0px 0px 0px;
		padding-right: 15px;
		padding-left: 15px;
		
		box-sizing: border-box;
		display:inline;
		position:relative;
		text-align:left;
	}
	.about_r h2{
		text-align: center;
		}*/


